@using Microsoft.AspNetCore.Http
@{
    ViewBag.Title = "New Consultation";
    ViewBag.pTitle = "New Consultation";
    ViewBag.pageTitle = "New Consultation";
    Layout = null;
    var usuarioId = ViewContext.HttpContext.Session.GetInt32("UsuarioId");

}

@model NewPatientViewModel

<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable">

<head>
    @await Html.PartialAsync("_title_meta")
    @await Html.PartialAsync("_head_css")
</head>

<body>
    <!--Inicio de la pagina-->
    <div id="layout-wrapper">

        @await Html.PartialAsync("_menu")

        <div class="main-content">

            <div class="page-content">

                <div class="container-fluid">
                    <!-- #region Titulo -->
                    <div class="position-relative mx-n4 mt-n4">

                        <div class="profile-wid-bg profile-setting-img">
                            <img src="~/assets/images/auth-one-bg.jpg" class="profile-wid-img" alt="" />
                            <div class="overlay-content">
                                <div class="text-end p-3">
                                    <div class="p-0 ms-auto rounded-circle profile-photo-edit">

                                        <h1 class="cabeceras"> <i class=" ri-survey-fill"></i>NEW CONSULTATION</h1>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- #endregion Titulo-->


                    <!-- #region --Inicio -->
                    <div class="col-xxl-9">
                        <div class="card">
                            <div class="card-body">
                                <!-- #region Inicio Formulario-->
                                <form action="#" class="form-steps" autocomplete="off">
                                    <!-- #region Steps -->
                                    <div class="step-arrow-nav mb-4">
                                        <ul class="nav nav-pills custom-nav nav-justified" role="tablist">

                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="steparrow-gen-info-tab"
                                                    data-bs-toggle="pill" data-bs-target="#steparrow-gen-info"
                                                    type="button" role="tab" aria-controls="steparrow-gen-info"
                                                    aria-selected="true">Patient data</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link " id="steparrow-description-info-tab"
                                                    data-bs-toggle="pill" data-bs-target="#steparrow-consultation-data"
                                                    type="button" role="tab" aria-controls="steparrow-consultation-data"
                                                    aria-selected="false">Consultation Data</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="steparrow-vital-signs" data-bs-toggle="pill"
                                                    data-bs-target="#steparrow-vital-signs" type="button" role="tab"
                                                    aria-controls="steparrow-vital-signs" aria-selected="false">Vital
                                                    Signs</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill"
                                                    data-bs-target="#pills-experience" type="button" role="tab"
                                                    aria-controls="pills-experience"
                                                    aria-selected="false">Diagnostic</button>
                                            </li>

                                        </ul>
                                    </div>
                                    <!-- #endregion Steps -->

                                    <!-- #region TabContent-->

                                    <div class="tab-content">
                                        <!-- #region  Inicio primer PatientLandlinePhone tab-->
                                        <div class="tab-pane fade show active" id="steparrow-gen-info" role="tabpanel"
                                            aria-labelledby="steparrow-gen-info-tab">
                                            <div class="row">

                                                <div class="divider-with-text">
                                                    <i class="ri-user fill" id="icons"></i><span>Personal Data</span>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="firstName">First Last
                                                            Name</label>
                                                        <input type="text" class="form-control" id="firstlastnameInput"
                                                            name="FirstLastName"
                                                            value="@Model.DetailsPatient.PatientFirstsurname" disabled>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="documentNumberInput" class="form-label">Second Last
                                                            Name</label>
                                                        <input type="text" class="form-control" id="Input"
                                                            name="PatientSecondlastname"
                                                            value="@Model.DetailsPatient.PatientSecondlastname"
                                                            disabled>


                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="documentNumberInput" class="form-label">First
                                                            Name</label>
                                                        <input type="text" class="form-control" id="firstnameInput"
                                                            name="PatientFirstname"
                                                            value="@Model.DetailsPatient.PatientFirstname" disabled>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="documentNumberInput" class="form-label">Middle
                                                            Name</label>
                                                        <input type="text" class="form-control" id="Input"
                                                            name="PatientMiddlename"
                                                            value="@Model.DetailsPatient.PatientMiddlename" disabled>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="specialtySelect" class="form-label">Select Document
                                                            Type *</label>
                                                        <select class="form-control"
                                                            asp-for="DetailsPatient.PatientDocumenttype"
                                                            id="documenttyoeId" name="PatientDocumenttype" data-choices
                                                            data-choices-sorting-false disabled>
                                                            @foreach (var documenttype in Model.DocumentTypes)
                                                            {
                                                                <option value="@documenttype.CatalogId">
                                                                    @documenttype.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="lastnameInput" class="form-label">Document Number
                                                            *</label>
                                                        <input type="text" class="form-control" id="documentnumber"
                                                            name="PatientDocumentnumber"
                                                            value="@Model.DetailsPatient.PatientDocumentnumber"
                                                            disabled>

                                                    </div>
                                                </div>

                                                <div class="col-lg-3">

                                                    <div class="mb-3">
                                                        <label for="specialtySelect" class="form-label"> Select Blood
                                                            Type
                                                        </label>
                                                        <select class="form-control" id="bloodtype"
                                                            name="PatientBloodtype"
                                                            asp-for="DetailsPatient.PatientBloodtype" data-choices
                                                            data-choices-sorting-false disabled>

                                                            @foreach (var bloodtype in Model.BloodTypes)
                                                            {
                                                                <option value="@bloodtype.CatalogId">@bloodtype.CatalogName
                                                                </option>
                                                            }
                                                        </select>

                                                    </div>

                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="donorSelect" class="form-label">He is donor?</label>
                                                        <select class="form-control" id="donorSelect"
                                                            name="PatientDonor" asp-for="DetailsPatient.PatientDonor"
                                                            data-choices data-choices-sorting-false disabled>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="lastnameInput" class="form-label">Date of Birthdate
                                                            *</label>
                                                        <input type="date" class="form-control" id="birhdate"
                                                            name="PatientBirthdate"
                                                            value="@((Model.DetailsPatient.PatientBirthdate.HasValue) ? Model.DetailsPatient.PatientBirthdate.Value.ToString("yyyy-MM-dd") : string.Empty)"
                                                            disabled>

                                                    </div>
                                                </div>

                                                <div class="col-lg-2">
                                                    <div class="mb-3">
                                                        <label for="lastnameInput" class="form-label">Age</label>
                                                        <input type="number" class="form-control" id="agePatient"
                                                            name="PatientAge" value="@Model.DetailsPatient.PatientAge"
                                                            disabled>

                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="selectMaritalStatus" class="form-label"> Select
                                                            Marital Status </label>
                                                        <select class="form-control" id="maritalStatus"
                                                            name="PatientMaritalStatus"
                                                            asp-for="DetailsPatient.PatientMaritalstatus" data-choices
                                                            data-choices-sorting-false disabled>
                                                            @foreach (var maritalStatus in Model.CivilTypes)
                                                            {
                                                                <option value="@maritalStatus.CatalogId">
                                                                    @maritalStatus.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="professionalSelect" class="form-label">Select
                                                            Professional training</label>
                                                        <select class="form-control" id="vocationalTraining"
                                                            name="PatientVocationalTraining"
                                                            asp-for="DetailsPatient.PatientVocationalTraining"
                                                            data-choices data-choices-sorting-false disabled>

                                                            @foreach (var professionaltraining in
                                                            Model.ProfessionalTrainingTypes)
                                                            {
                                                                <option value="@professionaltraining.CatalogId">
                                                                    @professionaltraining.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="divider-with-text">
                                                    <i class="ri-contacts-book-2-fill" id="icons"></i> <span> Contact
                                                        Data </span>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="selectNationality" class="form-label">Select your
                                                            Nationality</label>
                                                        <select class="form-control" id="nationalitytypeId"
                                                            name="PatientNationality"
                                                            asp-for="DetailsPatient.PatientNationality" data-choices
                                                            data-choices-sorting-false disabled>
                                                            @foreach (var nacionality in Model.Countries)
                                                            {
                                                                <option value="@nacionality.CountryId">
                                                                    @nacionality.CountryNationality</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="3">
                                                        <label for="selectProvice" class="form-label">Select your
                                                            Province</label>
                                                        <select class="form-control" id="provincetypeId"
                                                            name="PatientProvince"
                                                            asp-for="DetailsPatient.PatientProvince" data-choices
                                                            data-choices-sorting-false disabled>

                                                            @foreach (var provinces in Model.Provinces)
                                                            {
                                                                <option value="@provinces.ProvinceId">
                                                                    @provinces.ProvinceName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="addressInput" class="form-label">Address</label>
                                                        <div class="input-group">
                                                            <!-- Input para ingresar la dirección -->
                                                            <input type="text" id="addressInput" class="form-control"
                                                                name="PatientAddress"
                                                                value="@Model.DetailsPatient.PatientAddress"
                                                                aria-label="Recipient's username"
                                                                aria-describedby="button-addon2"
                                                                placeholder="Write your address" disabled 
                                                               
                                                               
                                                                
                                                            <button class="btn btn-outline-success" type="button"
                                                                id="mapButton" disabled><i
                                                                    class="ri-map-pin-line"></i></button>
                                                        </div>

                                                        <!-- Contenedor para el mapa que se generará dinámicamente -->
                                                        <div id="map"
                                                            style="display: none; height: 400px; margin-top: 15px;">
                                                        </div>

                                                        <!-- Contenedor de sugerencias que se generará dinámicamente -->
                                                        <div id="suggestions" class="suggestions-container"
                                                            style="display: none;"></div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="codeSenecytInput" class="form-label">Landline Phone
                                                            Number</label>
                                                        <input type="text" class="form-control" id="landlinetInput"
                                                            name="PatientLandlinePhone"
                                                            value="@Model.DetailsPatient.PatientLandlinePhone"
                                                            placeholder="Enter your landline phone number" disabled>

                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="phonenumberInput" class="form-label">Cellular Phone
                                                            Number</label>
                                                        <input type="text" class="form-control" id="phonenumberInput"
                                                            name="PatientCellularPhone"
                                                            value="@Model.DetailsPatient.PatientCellularPhone"
                                                            placeholder="Enter your phone number +(1) 987 6543"
                                                            disabled>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="emailInput" class="form-label">Email Address</label>
                                                        <input type="email" class="form-control"
                                                            id="steparrow-gen-info-email-input" name="PatientEmail"
                                                            value="@Model.DetailsPatient.PatientEmail" readonly>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="patientOcupationLabel"
                                                            class="form-label">Ocupation</label>

                                                        <input type="text" class="form-control"
                                                            id="patientOcupationInput" name="PatientOcupation"
                                                            placeholder="Enter your Ocupation"
                                                            value="@Model.DetailsPatient.PatientOcupation" disabled>

                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="companyInput" class="form-label">Company</label>
                                                        <input type="text" class="form-control" id="companyInput"
                                                            name="PatientCompany" placeholder="Enter your company"
                                                            value="@Model.DetailsPatient.PatientCompany" disabled>

                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="selectHealtInsurance">Select your health
                                                            insurance</label>
                                                        <select class="form-control" id="healtInsuranceId"
                                                            name="PatientHealthInsurance"
                                                            asp-for="DetailsPatient.PatientHealthInsurance" data-choices
                                                            data-choices-sorting-false disabled>

                                                            @foreach (var healtinsurance in Model.SureHealthTypes)
                                                            {
                                                                <option value="@healtinsurance.CatalogId">
                                                                    @healtinsurance.CatalogName</option>
                                                            }
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label"
                                                            for="steparrow-gen-info-username-input">History
                                                            Clinic</label>
                                                        <input type="text" class="form-control" id="historyClinic"
                                                            placeholder="Enter History Clinic"
                                                            value="@Model.DetailsPatient.PatientDocumentnumber" required
                                                            readonly>
                                                        <div class="invalid-feedback">Please enter a History Clinic
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button"
                                                        class="btn btn-success btn-label right ms-auto nexttab nexttab"
                                                        data-nexttab="steparrow-consultation-data-tab"><i
                                                            class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Consultation
                                                        Data</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- #endregion primer panel -->
                                        <!-- #region  Inicio Segundo panel-->
                                        <div class="tab-pane fade" id="steparrow-consultation-data" role="tabpanel"
                                            aria-labelledby="steparrow-consultation-data-tab">
                                            <div class="row">

                                                <div class="divider-with-text">
                                                    <i class="ri-user-search-fill" id="icons"></i> <span> Contact Data
                                                    </span>
                                                </div>
                                                <!-- #region Tabla de  informacion paciente-->

                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 0.7rem;">
                                                                <i class="ri-account-circle-fill"></i> <br />
                                                                Patient <br /> @Model.DetailsPatient.PatientFirstname
                                                                @Model.DetailsPatient.PatientFirstsurname
                                                            </td>
                                                            <td style="font-size: 0.7rem;"><i
                                                                    class="ri-bank-card-fill"></i> <br /> Document
                                                                Number <br />
                                                                @Model.DetailsPatient.PatientDocumentnumber </td>
                                                            <td style="font-size: 0.7rem;"><i
                                                                    class="mdi-gender-male-female"></i> <br /> Gender
                                                                <br /> @Model.DetailsPatient.PatientGenderName
                                                            </td>
                                                            <td style="font-size: 0.7rem;"><i class="ri-drop-fill"></i>
                                                                <br /> Blood Type <br />
                                                                @Model.DetailsPatient.PatientBloodtypeName
                                                            </td>
                                                            <td style="font-size: 0.7rem;"><i
                                                                    class="ri-calendar-event-fill"></i> <br /> Date of
                                                                Birthday <br />
                                                                @((Model.DetailsPatient.PatientBirthdate.HasValue) ?
                                                                    Model.DetailsPatient.PatientBirthdate.Value.ToString("yyyy-MM-dd")
                                                                    : string.Empty) </span></td>
                                                            <td style="font-size: 0.7rem;"><i
                                                                    class="ri-calendar-event-fill"></i> <br /> Age
                                                                <br /> @Model.DetailsPatient.PatientAge
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td style="font-size: 0.7rem;"> <i
                                                                    class="ri-file-user-fill"></i><br /> Status maried
                                                                <br /> @Model.DetailsPatient.PatientMaritalstatusName
                                                            </td>
                                                            <td style="font-size: 0.7rem;"> <i
                                                                    class="ri-honour-fill"></i><br />Professional
                                                                Training
                                                                <br />@Model.PatientVocationalTrainingNavigation
                                                            </td>
                                                            <td style="font-size: 0.7rem;"> <i
                                                                    class="ri-flag-fill"></i><br /> Nationality
                                                                <br />@Model.DetailsPatient.PatientNationalityName
                                                            </td>
                                                            <td style="font-size: 0.7rem;"> <i
                                                                    class="ri-phone-fill"></i><br />Phone
                                                                <br />@Model.DetailsPatient.PatientLandlinePhone
                                                            </td>
                                                            <td style="font-size: 0.7rem;"> <i
                                                                    class="ri-smartphone-fill"></i><br />Cellphone
                                                                <br />@Model.DetailsPatient.PatientCellularPhone
                                                            </td>
                                                            <td style="font-size: 0.7rem;"> <i
                                                                    class="ri-mail-fill"></i><br />Email
                                                                <br />@Model.DetailsPatient.PatientEmail
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- #region Fin Tabla de  informacion paciente-->


                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="phonenumberInput" class="form-label">Name of
                                                            companion</label>
                                                        <input type="text" class="form-control" id="phonenumberInput"
                                                            name="PatientCompany" placeholder="Name(s), Lastname(s)">

                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="parentSelect" class="form-label">Select your
                                                            parent</label>
                                                        <select class="form-control" id="parentsId" name="Parents"
                                                            data-choices data-choices-sorting-false>
                                                            @foreach (var parents in Model.Parents)
                                                            {
                                                                <option value="@parents.CatalogId">@parents.CatalogName
                                                                </option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="phonenumberInput" class="form-label">Phone of
                                                            companion</label>
                                                        <input type="text" class="form-control" id="phonenumberInput"
                                                            name="PhoneCompanation" placeholder="0900000000">

                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="phonenumberInput" class="form-label">Reason for
                                                            consultation *</label>
                                                        <input type="text" class="form-control"
                                                            id="reasonforConsultation" name="reasonConsultation"
                                                            placeholder="Enter your reason for consultation" required>

                                                    </div>
                                                </div>


                                                <div class="divider-with-text">
                                                    <i class="ri-user-3-fill" id="icons"></i> <span> Personal background
                                                    </span>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="mb-3">

                                                        <textarea class="form-control" id="exampleFormControlTextarea5"
                                                            rows="3"
                                                            placeholder="Enter a brief description, if you want to speak press the microphone"></textarea>
                                                    </div>
                                                </div>

                                                <!-- Contenedor del select de alergias -->
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="allergiesSelect"> Select the allergies</label>
                                                        <select class="form-control" id="allergiesSelect"
                                                            name="allergiesSelect" data-choices data-choices-removeItem
                                                            multiple>

                                                            @foreach (var allergies in Model.AllergiesTypes)
                                                            {
                                                                <option value="@allergies.CatalogId"> @allergies.CatalogName
                                                                </option>
                                                            }

                                                        </select>
                                                        <input type="hidden" id="selectallergiesId"
                                                            name="selectallergiesId">

                                                    </div>
                                                </div>

                                                <!-- Contenedor del select de cirugias -->

                                                <div class="col-lg-12" id="surgeriesSelectContainer">
                                                    <!-- Oculto por defecto -->
                                                    <div class="mb-3">
                                                        <label for="allergiesSelect" class="form-label">Select the
                                                            surgeries</label>
                                                        <select class="form-control" id="surgeriesSelect"
                                                            name="surgeriesSelect" data-choices data-choices-removeItem
                                                            multiple>
                                                            @foreach (var surgeries in Model.SurgeriesTypes)
                                                            {
                                                                <option value="@surgeries.CatalogId"> @surgeries.CatalogName
                                                                </option>
                                                            }
                                                        </select>
                                                        <!-- Input oculto para enviar los IDs seleccionados -->
                                                        <input type="hidden" id="selectSurgeriesId"
                                                            name="selectSurgeriesId">
                                                    </div>
                                                </div>
                                                <!-- #region  Antecedentes Familiares Inicio-->
                                                <div class="divider-with-text">
                                                    <i class="ri-arrow-go-back-fill" id="icons"></i> <span> Familiary
                                                        background </span>
                                                </div>

                                                <!-- Region Cardiopatia-->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label" for="SwitchCheckHeartdiasease">Heart
                                                        disease</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberHeartDisease" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control"
                                                            id="observationHeartDisease" name="observationHeartDisease"
                                                            placeholder="Enter an observation">

                                                    </div>
                                                </div>
                                                <!-- #region  Fin Cardiopatia-->

                                                <!-- #region  Diabetes inicio-->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label"
                                                        for="SwitchCheckDiabetes">Diabetes</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberDiabetes" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control" id="observationDiabetes"
                                                            name="observationDiabetes"
                                                            placeholder="Enter an observation">

                                                    </div>
                                                </div>

                                                <!-- #region  Fin Diabtes-->
                                                <!-- #region  Enfermedad Cardiovacular -->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label"
                                                        for="SwitchCheckCardiovascular">Cardiovascular Disease</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberCardiovascularDisease" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control"
                                                            id="observationCardiovascularDisease"
                                                            name="observationCardiovascularDisease"
                                                            placeholder="Enter an observation">

                                                    </div>
                                                </div>

                                                <!-- #region  Fin Enfermedad Cardiovacular-->
                                                <!-- #region Inicio Hypertension-->

                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label"
                                                        for="SwitchCheckHypertension">Hypertension</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberHypertension" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control"
                                                            id="observationHypertension" name="observationHypertension"
                                                            placeholder="Enter an observation">

                                                    </div>
                                                </div>
                                                <!-- #region  Fin Hypertension-->

                                                <!-- #region Inicio Cancer-->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label"
                                                        for="SwitchCheckCancer">Cancer</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberCancer" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control" id="observationCancer"
                                                            name="observationCancer" placeholder="Enter an observation">

                                                    </div>
                                                </div>

                                                <!-- #region  Fin Cancer-->

                                                <!-- #region Inicio Tuberculosis-->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label"
                                                        for="SwitchCheckTuberculosis">Tuberculosis</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberTuberculosis" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control"
                                                            id="observationTuberculosis" name="observationTuberculosis"
                                                            placeholder="Enter an observation">

                                                    </div>
                                                </div>
                                                <!-- #region  Fin Tuberculosis-->
                                                <!-- #region Enfermedad Mental-->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label"
                                                        for="SwitchCheckMentalIllness">Mental Illness</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberMentalIllness" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control"
                                                            id="observationMentalIllness"
                                                            name="observationMentalIllness"
                                                            placeholder="Enter an observation">

                                                    </div>
                                                </div>

                                                <!-- #region  Fin Enfermedad Mental-->
                                                <!-- #region  Enfermedad Infecciosa-->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label"
                                                        for="SwitchCheckInfectious">Infectious Disease</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberInfectious" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control"
                                                            id="observationInfectious" name="observationInfectious"
                                                            placeholder="Enter an observation">

                                                    </div>
                                                </div>

                                                <!-- #endregion Fin Enfermedad Infecciosa-->
                                                <!-- #region  Inicio Malformacion-->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label"
                                                        for="SwitchCheckMalformation">Malformation</label>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberMalformation" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control"
                                                            id="observationMalformation" name="observationMalformation"
                                                            placeholder="Enter an observation">

                                                    </div>
                                                </div>

                                                <!-- #endregion Fin Malformacion-->
                                                <!-- #region  Other-->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="SwitchCheck1">
                                                    <label class="form-check-label" for="SwitchCheckOther">Other</label>
                                                </div>


                                                <div class="col-lg-5">
                                                    <div class="mb-3">
                                                        <select class="form-control" id="FamilyMembers"
                                                            name="familyMemberOther" data-choices
                                                            data-choices-sorting-false>
                                                            <option value="">Select your family member</option>
                                                            @foreach (var familyMember in Model.FamilyMember)
                                                            {
                                                                <option value="@familyMember.CatalogId">
                                                                    @familyMember.CatalogName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5">
                                                    <div class="mb-3">

                                                        <input type="text" class="form-control" id="observationOther"
                                                            name="observationOther" placeholder="Enter an observation">

                                                    </div>
                                                </div>
                                                <!-- #endregion Other-->
                                                <!-- #endregion Fin Antecedentes Familiares -->
                                                <div class="divider-with-text">
                                                    <i class="las la-notes-medical" id="icons"></i> <span> Current
                                                        illness or problem (*)</span>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="mb-3">

                                                        <textarea class="form-control" id="exampleFormControlTextarea5"
                                                            rows="3"
                                                            placeholder="Enter a brief description, if you want to speak press the microphone"
                                                            required></textarea>
                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <button type="button" class="btn btn-light btn-label previestab"
                                                        data-previous="steparrow-gen-info-tab"><i
                                                            class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                                                        Back to Patient Data</button>
                                                    <button type="button"
                                                        class="btn btn-success btn-label right ms-auto nexttab nexttab"
                                                        data-nexttab="steparrow-vital-signs-tab"><i
                                                            class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Vital
                                                        Signs</button>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- #region  Fin Segundo panel-->
                                        <!-- #region  Inicio del tercer panel-->
                                        <div class="tab-pane fade show" id="steparrow-vital-signs" aria-labelledby="steparrow-vital-signs-tab" role="tabpanel">
                                            <div class="text-center">

                                                <div class="avatar-md mt-5 mb-4 mx-auto">
                                                    <div
                                                        class="avatar-title bg-light text-success display-4 rounded-circle">
                                                        <i class="ri-checkbox-circle-fill"></i>
                                                    </div>
                                                </div>
                                                <h5>Well Done !</h5>
                                                <p class="text-muted">You have Successfully Signed Up</p>
                                            </div>
                                        </div>
                                        <!-- #endregion Fin tercer panel-->
                                        <!-- #region Inicio Cuarto Panel-->
                                        <div class="tab-pane fade" id="steparrow-vital-signs" role="tabpanel">
                                            <div class="text-center">

                                                <div class="avatar-md mt-5 mb-4 mx-auto">
                                                    <div
                                                        class="avatar-title bg-light text-success display-4 rounded-circle">
                                                        <i class="ri-checkbox-circle-fill"></i>
                                                    </div>
                                                </div>
                                                <h5>Well Done !</h5>
                                                <p class="text-muted">You have Successfully Signed Up</p>
                                            </div>
                                        </div>
                                        <!-- #endregion  Fin Cuarto Panel-->
                                    </div>
                                    <!-- #endregion TabContent-- -->

                                </form>
                                <!-- #endregion Formulario -->
                            </div>
                        </div>

                    </div>
                    <!-- #endregion Final -->
                </div>

            </div>



        </div>

        @await Html.PartialAsync("_footer")

    </div>




    @await Html.PartialAsync("_vendor_scripts")


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Selecciona todos los switches
            const switches = document.querySelectorAll(".form-check-input");

            switches.forEach(switchElement => {
                // Asocia un evento de cambio a cada switch
                switchElement.addEventListener("change", function () {
                    // Obtén los campos asociados al switch actual
                    const parentDiv = this.closest(".form-check");
                    const nextSibling = parentDiv.nextElementSibling;
                    const selectField = nextSibling.querySelector("select");
                    const observationField = nextSibling.nextElementSibling.querySelector("input");

                    // Muestra u oculta los campos según el estado del switch
                    if (this.checked) {
                        selectField.closest(".col-lg-5").style.display = "block";
                        observationField.closest(".col-lg-5").style.display = "block";
                    } else {
                        selectField.closest(".col-lg-5").style.display = "none";
                        observationField.closest(".col-lg-5").style.display = "none";
                    }
                });

                // Oculta inicialmente los campos asociados
                const parentDiv = switchElement.closest(".form-check");
                const nextSibling = parentDiv.nextElementSibling;
                const selectField = nextSibling.querySelector("select");
                const observationField = nextSibling.nextElementSibling.querySelector("input");

                selectField.closest(".col-lg-5").style.display = "none";
                observationField.closest(".col-lg-5").style.display = "none";
            });
        });
    </script>


</body>

</html>
