@{
    ViewBag.Title = "Appointment List";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Expermed_AI.Models.Appointment>

@section styles {
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Appointment List</h5>
                <div class="btn-group mt-3" role="group" aria-label="Basic radio toggle button group">
                    <button type="button" class="btn btn-secondary" onclick="filterAppointments(0)">Paid</button>
                    <button type="button" class="btn btn-secondary" onclick="filterAppointments(1)">Active</button>
                    <button type="button" class="btn btn-secondary" onclick="filterAppointments(2)">Canceled</button>
                    <button type="button" class="btn btn-secondary" onclick="filterAppointments(3)">Follow-up</button>
                </div>
            </div>
            <div class="card-body">
                <table id="alternative-pagination"
                    class="table nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Appointment Id.</th>
                            <th>Appointment Date</th>
                            <th>Patient Name</th>
                            <th>Reason for consultation</th>
                            <th>Consultation specialty</th>
                            <th>Appointment status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var appointment in Model)
                        {
                            <tr>
                                <td>@appointment.AppointmentId</td>
                                <td>
                                    <div class="d-flex align-items-center fw-medium">
                                        <img src="assets/images/svg/crypto-icons/btc.svg" alt="" class="avatar-xxs me-2">
                                        <a href="javascript:void(0);" class="currency_name">@appointment.AppointmentDate.ToString("dd/MM/yyyy")</a>
                                    </div>
                                </td>
                                <td>
                                    @appointment.AppointmentPatient.PatientFirstname + " " + @appointment.AppointmentPatient.PatientSecondlastname
                                </td>
                                <td>
                                    <!-- Aquí puedes colocar el motivo de la consulta o cualquier otro detalle relevante -->
                                </td>
                                <td>
                                    <!-- Mostrar la especialidad del doctor -->
                                    @appointment.AppointmentCreateuserNavigation.UserSpecialty.SpecialityName
                                </td>
                                <td>
                                    @switch (appointment.AppointmentStatus)
                                    {
                                        case 0:
                                            <span class="badge bg-success">Paid</span>
                                            break;
                                        case 1:
                                            <span class="badge bg-warning">Active</span>
                                            break;
                                        case 2:
                                            <span class="badge bg-danger">Canceled</span>
                                            break;
                                        case 3:
                                            <span class="badge bg-info">Follow-up</span>
                                            break;
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("UpdateUser", "Users", new { id = appointment.AppointmentId })" class="btn btn-sm btn-soft-info"> <i class="ri-edit-line"></i> Review</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="~/assets/js/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <script>
        function filterAppointments(status) {
            var doctorId = @ViewBag.DoctorId;
            window.location.href = '@Url.Action("ListAllAppointments", "Appointment")?appointmentStatus=' + status + '&doctorId=' + doctorId;
        }
    </script>
}
